.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 12vw;
    background-color: rgb(255, 255, 255);
}

.navbar_logo{
    height: 8vh;
}

.navbar_logo>img{
    height: 100%;
}

.navbar_mainbar{
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.navbar_mainbar>div{
    font-size: 14px;
    padding: 35px 12px;
    cursor: pointer;
    margin: -10px 0;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    position: relative;
}

.navbar_mainbar i{
    font-size: 18px;
}

.navbar_mainbar>div:hover{
    color: #F5BF23;
}

.grip-lines{
    display: none;
}

.arrow-animation{ 
    position: relative;
    animation: linear infinite alternate;
    animation-name: run;
    animation-duration: 1s;
}

.mainbar_submenu{
    background-color: #ffffff;
    border: 1px solid #f4f4f4;
    display: block;
    left: 0;
    top: 100%;
    list-style: none;
    margin: 20px 0;
    opacity: 0;
    padding: 0px;
    position: absolute;
    visibility: hidden;
    width: 220px;
    z-index: 10;
    transform: translateY(20px);
    transition: all 0.2s;
    border: none;
    font-weight: 450;
}

.navbar_mainbar>div:hover .mainbar_submenu{
    color: black;
    opacity: 1;
    visibility: visible;
    transform: translateY(-20px);
}

.mainbar_submenu>div{
    font-size: 15px;
    height: 5vh;
    display: flex;
    align-items: center;
    padding: 1vh 0;
    padding-left: 1.2em;
    transition: all 0.2s linear;
    border:0px solid transparent;;
}


.mainbar_submenu>div:hover {
    color: #F5BF23 ;
    border-left: solid #F5BF23 10px;
    background-color: rgba(0, 0, 0, 0.056);
}


@keyframes run{
    0%{
        left: 0;
    }
    50%{
        left: 10px;
    }
    100%{
        left: 0;
    }
}

@media screen and (max-width: 1250px) {
    .navbar{
        padding: 10px 4vw;
    }
}

@media screen and (max-width: 955px) {
    .mainbar_items{
        display: none;
    }
    .grip-lines{
        display: block;
    }
}